<div class="page-content">
					<div class=" position-relative">
						<div class="profile-social-links pull-right" >
							
							<a href="https://www.facebook.com/pages/PlatSource/389634781187356?ref=bookmarks"  data-rel="tooltip" class="tooltip-info rsPrincipal0" title="Facebook" data-original-title="Visit my Facebook" target="_blank" id="fb0">
								<i class="middle icon-facebook-sign icon-2x blue"></i>
							</a>

							<a href="https://twitter.com/Platsource" data-rel="tooltip" class="tooltip-info rsPrincipal0" title="Visit my Twitter" data-original-title="Twitter" target="_blank" id="tw0">
								<i class="middle icon-twitter-sign icon-2x light-blue"></i>
							</a>

							<a href="mailto:informes@platsource.mx" data-rel="tooltip" class="tooltip-info" title="Send us Email" data-original-title="Send us Email" target="_blank"  >
								<i class="middle icon-envelope-alt icon-2x light-default"></i>
							</a>

						</div>

					</div><!--/.page-header-->

					<div class="row-fluid">
						<div class="span12">
							<!--PAGE CONTENT BEGINS-->

							<div class="row-fluid">
								<div class="span9">

<!-- 

<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/permalink.php?story_fbid=404289236388577&amp;id=389634781187356" data-width="466"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/permalink.php?story_fbid=404289236388577&amp;id=389634781187356">Publicación</a> de <a href="https://www.facebook.com/pages/PlatSource/389634781187356">PlatSource</a>.</div></div>

<blockquote class="twitter-tweet" lang="es"><p>Sabías que en <a href="https://twitter.com/hashtag/Platsource?src=hash">#Platsource</a> puedes emitir tus boletas internas como oficiales?&#10;Que espera, pida una demostración...</p>&mdash; PlatSource (@Platsource) <a href="https://twitter.com/Platsource/status/537051490217508865">noviembre 25, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

 -->

								</div><!--/span-->

								<div class="span3">

								</div><!--/span-->

							</div>

						</div><!--/.span-->
					</div><!--/.row-fluid-->
</div>

<script type="text/javascript"> 

			$(".rsPrincipal0").hide();
			$('[data-rel=tooltip]').tooltip();
			var clave = parseInt(localStorage.ClaveNivelAcceso, 0);
			if (clave != 5 && clave != 7){
				$(".rsPrincipal0").show();
				console.log("Clave: "+clave);
			}

</script>