<div class="page-content">
					<div class="page-header position-relative">
						<div class="profile-social-links pull-right" >
							<a href="https://www.facebook.com/pages/PlatSource/389634781187356?ref=bookmarks"  data-rel="tooltip" class="tooltip-info" title="Facebook" data-original-title="Visit my Facebook" target="_blank" >
								<i class="middle icon-facebook-sign icon-2x blue"></i>
							</a>

							<a href="https://twitter.com/Platsource" data-rel="tooltip" class="tooltip-info" title="Visit my Twitter" data-original-title="Twitter" target="_blank"  >
								<i class="middle icon-twitter-sign icon-2x light-blue"></i>
							</a>

							<a href="mailto:informes@platsource.mx" data-rel="tooltip" class="tooltip-info" title="Send us Email" data-original-title="Send us Email" target="_blank"  >
								<i class="middle icon-envelope-alt icon-2x light-default"></i>
							</a>

						</div>
						<h1>
							Profesor!
						</h1>

					</div><!--/.page-header-->

					<div class="row-fluid">
						<div class="span12">
							<!--PAGE CONTENT BEGINS-->

							<div class="row-fluid">
								<div class="span9">
									<p class="lead">
										En tu Perfil podras encontrar el combo para cambiar de evaluación de la 1 a la 2.<br/><br/>Sigue estos pasos:
									</p>
									<p class="lead">
										<ul class="unstyled spaced lead">

												<li>
													<i class="icon-ok green"></i>
													Captura tus calificaciones de la Evaluación 1.
												</li>

												<li>
													<i class="icon-ok green"></i>
													Ve a tu Perfil y cambia a la Evaluación 2.
												</li>

												<li>
													<i class="icon-ok green"></i>
													Captura tus calificaciones de la Evaluación 2, y listo.
												</li>

												<li>
													<i class="icon-ok green"></i>
													Listo, eso es todo.
												</li>

										</ul>		
										<br />
										
										<h3 class="header smaller lighter green">
											Contáctanos
										</h3>
										<a class="btn btn-link lead" href="mailto:informes@platsource.mx" target="_blank">
											<i class="icon-envelope bigger-120 pink"></i>
											Envíanos un Email
										</a>	
									</p>
								</div><!--/span-->

								<div class="span3">

								</div><!--/span-->

							</div>

						</div><!--/.span-->
					</div><!--/.row-fluid-->
</div>

<script type="text/javascript"> 
	jQuery(function($) {
		$('[data-rel=tooltip]').tooltip();
	});		
</script>