<div class="page-content">
	<div class="page-header position-relative">
		<h1>
			Titulo
		</h1>
	</div><!--/.page-header-->

	<div class="row-fluid">
		<div class="span12">
			<!--PAGE CONTENT BEGINS-->

			<div class="row-fluid">
				<div class="span6">
				</div><!--/span-->

				<div class="span6">

				</div><!--/span-->

			</div>

		</div><!--/.span-->
	</div><!--/.row-fluid-->

</div>

<script type="text/javascript"> 
	jQuery(function($) {
		$('[data-rel=tooltip]').tooltip();
	});		
</script>