                    <li class="open " id="subMenuCatalogos"> 
                        <a href="#" class="dropdown-toggle">
                                <i class="icon-book"></i>
                                <span class="menu-text"> Catálogos </span>

                                <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">                            
                            
                            <li>
                                <a href="#" id="cat_niveles_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Niveles</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_grupos_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Grupos</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_alumnos_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Alumnos</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_alu_tipo_actividad_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Actividad Alumnos</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_profesores_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Profesores</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_directores_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Directores</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_matclas_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Clas. Mat.</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_parentezcos_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Parentezcos</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_materias_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Materias</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_personas_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Personas</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_familias_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Familias</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_regfis_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Registros Fiscales</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_observaciones_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Observaciones</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_metodos_pago_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Métodos de Pago</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_colores_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Colores</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_medidas_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Medidas</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_productos_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Productos</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_proveedores_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Proveedores</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_estados_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Estados</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_municipios_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Municipios</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_medicos_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Médicos</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="emah_eval_0">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Test!</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_eval_config_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Evaluaciones</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_emergencias_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Emergencias</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="preinscripciones_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Preinscripciones</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_boletines_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Boletines</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_pai_criterios_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Criterios PAI</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_pai_areas_disciplinarias_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Áreas PAI</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_pai_objetivos_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Objetivos PAI</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_pai_conceptos_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Descriptores PAI</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_calendarios_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Calendarios</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_girobeneficios_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Afiliados Giros</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_beneficioafiliados_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Afiliados Beneficios</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_usocfdi_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">UsoCFDi</span>
                                </a>
                            </li>


                        </ul>
                    </li>


                    <li id="subMenuInboxMensaje0"> 

                        <a href="#" class="dropdown-toggle">
                                <i class="icon-book"></i>
                                <span class="menu-text">Inbox</span>

                                <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu" id="submenuInBoxMsj0">                            
                            <li>
                                <a href="#" class="dropdown-toggle inbxmsj0" id="inbxmsj0">
                                    <i class="icon-edit"></i>
                                    Mensajes
                                </a>
                            </li>    
                        </ul>
                    </li>


<script type="text/javascript">
jQuery(function($) {

    $("#preloaderPrincipal").show();

    if ($("#cat_estados_list").length) {
        $("#cat_estados_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-estados-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Estados'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_municipios_list").length) {
        $("#cat_municipios_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-municipios-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Municipios'));
                }, "html");
            return false;
        });
    }


    if ($("#cat_niveles_list").length) {
        $("#cat_niveles_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-niveles-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Niveles'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_grupos_list").length) {
        $("#cat_grupos_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-grupos-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Grupos'));
                }, "html");
            return false;
        });
    }


    if ($("#cat_alumnos_list").length) {
        $("#cat_alumnos_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-alumnos-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Alumnos'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_alu_tipo_actividad_list").length) {
        $("#cat_alu_tipo_actividad_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-alu-tipo-actividad-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Tipo de Actividades de Alumnos'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_profesores_list").length) {
        $("#cat_profesores_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-profesores-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Profesores'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_directores_list").length) {
        $("#cat_directores_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-directores-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Directores'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_matclas_list").length) {
        $("#cat_matclas_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-matclas-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Clasificación de Materias'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_materias_list").length) {
        $("#cat_materias_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-materias-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Materias'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_parentezcos_list").length) {
        $("#cat_parentezcos_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-parentezcos-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Parentezcos'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_personas_list").length) {
        $("#cat_personas_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-personas-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Personas'));
                }, "html");
            return false;
        });
    }


    if ($("#cat_familias_list").length) {
        $("#cat_familias_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-familias-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Familias'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_regfis_list").length) {
        $("#cat_regfis_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-regfis-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Registros Fiscales'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_observaciones_list").length) {
        $("#cat_observaciones_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-observaciones-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Observaciones'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_metodos_pago_list").length) {
        $("#cat_metodos_pago_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-metodos-pago-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Métodos de Pago'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_colores_list").length) {
        $("#cat_colores_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-colores-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Colores'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_medidas_list").length) {
        $("#cat_medidas_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-medidas-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Medidas'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_productos_list").length) {
        $("#cat_productos_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-productos-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Productos'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_proveedores_list").length) {
        $("#cat_proveedores_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-proveedores-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Proveedores'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_medicos_list").length) {
        $("#cat_medicos_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-medicos-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Médicos'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_eval_config_list").length) {
        $("#cat_eval_config_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "cat-eval-config-list/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").empty();
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Evaluaciones'));
                }, "html");
            return false;
        });
    }

    if ($("#emah_eval_0").length) {
        $("#emah_eval_0").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "emah-eval/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").empty();
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Test'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_emergencias_list").length) {
        $("#cat_emergencias_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "cat-emergencias-list/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").empty();
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Emergencias'));
                }, "html");
            return false;
        });
    }



    if ($("#preinscripciones_list").length) {
        $("#preinscripciones_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "preinscripciones-list/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").empty();
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo Preinscripciones'));
                }, "html");
            return false;
        });
    }


    if ($(".inbxmsj0").length) {
           $(".inbxmsj0").on("click", function(event) {
               event.preventDefault();
                cfgBase0();
                var nc = localStorage.nc;
                $.post(obj.getValue(0) + 'comunica-mensaje-inbox-list/', {
                        user: nc
                    },
                    function(html) {
                        $("#contentMain").hide();
                        $("#contentProfile").show();
                        $("#contentProfile").html(html);
                        $('#breadcrumb').html(getBar('Inicio, Mensajes' ));
                    }, "html");
                return false;         
           });
    }


    if ($("#cat_boletines_list").length) {
        $("#cat_boletines_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-boletines-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Boletines'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_pai_criterios_list").length) {
        $("#cat_pai_criterios_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-pai-criterios-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Criterios PAI'));
                }, "html");
            return false;
        });
    }
    
    if ($("#cat_pai_areas_disciplinarias_list").length) {
        $("#cat_pai_areas_disciplinarias_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-pai-areas-disciplinarias-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Áreas Disciplinarias PAI'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_pai_objetivos_list").length) {
        $("#cat_pai_objetivos_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-pai-objetivos-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Objetivos PAI'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_pai_conceptos_list").length) {
        $("#cat_pai_conceptos_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-pai-conceptos-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Descriptores PAI'));
                }, "html");
            return false;
        });
    }

    
    if ($("#cat_calendarios_list").length) {
        $("#cat_calendarios_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-calendarios-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Calendarios'));
                }, "html");
            return false;
        });
    }
    
    if ($("#cat_girobeneficios_list").length) {
        $("#cat_girobeneficios_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-girobeneficios-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Giros de Afiliados'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_beneficioafiliados_list").length) {
        $("#cat_beneficioafiliados_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-beneficioafiliados-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Beneficios de Afiliados'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_usocfdi_list").length) {
        $("#cat_usocfdi_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc.split("@");
            $.post(obj.getValue(0) + "cat-usocfdi-list/", {
                    user: nc[0]
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de UsoCFDi'));
                }, "html");
            return false;
        });
    }


    $("#preloaderPrincipal").hide();

    $("#menuPrincipal li").on("click", function(event) {
        event.preventDefault();
        $(".nav-list li").removeClass("active");
        if ($('.open').length === null) {
            $(this).addClass("active open");
        }
    });

    function cfgBase0(){
        resizeScreen();
        $("#contentLevel5").empty();
        $("#contentLevel5").hide();
        $("#contentLevel4").empty();
        $("#contentLevel4").hide();
        $("#contentLevel3").empty();
        $("#contentLevel3").hide();
        $("#contentProfile").empty();
        $("#contentProfile").hide();
        $("#contentMain").show();
        $("#contentMain").empty();
        $("#preloaderPrincipal").show();
        obj.setIsTimeLine(false);
    }


    $("#preloaderPrincipal").hide();


})

</script>